<%= react_component('ChatPage', id: @other_user_id) %>

<div class="header">
    <h1><%= @user.email %></h1>
</div>

<div class="chat-body overflow-auto">
    <% if @sorted_chats %>
    <% @sorted_chats.each do |chat| %>
        <div class="message-box <%= "my-message" if (chat["sender_id"] == @current_user.id) %>">
            <p><%= chat["message"] %></p>
            <p><%= chat["created_at"] %></p>
            <p class="<%= (chat["sender_id"] == @current_user.id) ? "my-timestamp" : "other-timestamp" %>"><%= User.find_by(id: chat["sender_id"]).email %></p>
        </div>
        <br />
    <% end %>
    <% end %>
<%
=begin%>
  
    <% @my_chats.each do |chat| %>
        <div class="message-box">
            <p><%= chat.message %></p>
            <p><%= chat.created_at %></p>
            <p><%= User.find_by(id: chat.sender_id).email %></p>
        </div>
        <br />
    <% end %>
    <% @other_chats.each do |chat| %>
        <div class="message-box">
            <p><%= chat.message %></p>
            <p><%= chat.created_at %></p>
            <p><%= User.find_by(id: chat.sender_id).email %></p>
        </div>
        <br />
    <% end %> 
<%
=end%>
</div>

<div class="type-section">
    <%= form_with(model: @chat) do |form| %>
        <% if @chat.errors.any? %>
            <div id="error_explanation">
                <h2><%= pluralize(@chat.errors.count, "error") %> prohibited this message from being sent:</h2>

                <ul>
                    <% @chat.errors.each do |error| %>
                        <li><%= error.full_message %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>

        <div class="form-group">
            <%= form.label :message %>
            <%= form.text_field :message, class:"form-control" %>
        </div>
        <div class="action">
            <%= form.submit 'Send', class:"btn btn-primary" %>
        </div>
    <% end %>
</div>