<h1>Journals</h1>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <% @journals.each do |journal| %>
        <div class="col">
        <div class="card h-100 position-relative" style="width: 18rem;">
        
          <div class="card-body">
          
            <h5 class="card-title"><%= journal.title %></h5>
            <% if (journal.desc.length > 100) %>
              <p class="card-text"><%= journal.desc[0..100] %>....</p>
            <% else %>
              <p class="card-text"><%= journal.desc %></p>
            <% end %>
            <%= link_to 'View', journal, class: "btn btn-primary" %></td>
            <%= link_to 'Edit', edit_journal_path(journal), class: "btn btn-secondary" %></td>
            <%= link_to 'Delete', journal, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<br>

<%= link_to 'New Journal', new_journal_path, class:"btn btn-secondary" %>
