<%= form_with(model: impulse) do |form| %>
  <% if impulse.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(impulse.errors.count, "error") %> prohibited this impulse from being saved:</h2>

      <ul>
        <% impulse.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class:"form-control" %>
  </div>
  <br />
  <div class="form-group">
    <%= form.label :level %>
    <%= form.number_field :level, class:"form-control" %>
  </div>
  <br />
  <div class="form-group">
    <%= form.label :desc %>
    <%= form.text_area :desc, class:"form-control" %>
  </div>
  <br />
  <div class="actions">
    <%= form.submit btnName, class:"btn btn-primary" %>
  </div>
<% end %>
