<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @impulse.title %>
</p>

<p>
  <strong>Level:</strong>
  <%= @impulse.level %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @impulse.desc %>
</p>

<%= link_to 'Edit', edit_impulse_path(@impulse) %> |
<%= link_to 'Back', impulses_path %>
